<header class="control-panel">
	<div class="title-bar">
		<span>
			<i class="fa-solid fa-bars"></i>
		</span>
		<span class="title">Last Epoch save editor</span>
	</div>
	<div class="window-buttons">
		<div class="controls">
			<span class="button minimize">
				<i class="fa-solid fa-window-minimize"></i>
			</span>
			<span class="button maximize">
				<i class="fa-regular fa-square"></i>
			</span>
			<span class="button close">
				<i class="fa-solid fa-xmark"></i>
			</span>
		</div>
	</div>
</header>